body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.img-background {
    background-image: url(/assets/images/lycg-xl\ \(1\).jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.logo {
    width: 130px;
    padding: 0 30px;
}
    
.header {
    display: flex;
    align-content: center;
    padding: 20px;
    padding-top: 20px;
}
    
a{
margin: 0;
font-size: 20px;
text-decoration: none;
padding: 10px;
}

.gps {
    display: flex;

}

.gps2 {
width: 20px;
height: 20px;

}